*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 80px 1fr 40px;
    grid-template-areas: 
    "zh"
    "zn"
    "zs"
    "zf";
}

/* HEADER */

header{
    grid-area: zh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex;
}

/* LOS DIVS DEL HEADER */

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

#logo > img{
    width: 90px;
    margin-top: 20px;
}

#logo:hover{
    cursor: pointer;
}

/* NAV */

nav{
    grid-area: zn;
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav > div {
    margin: 20px;
    font-size: 20px;
} 

nav>div:hover{
    color: #597EBE;
}

/*SECTION*/

section {
    grid-area: zs;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

/* MODAL HOME */

#modal_home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;

}

#slider{
    width: 100%;
    height: 350px;
    background-image: url(../img/markus-spiske-BfphcCvhl6E-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#logo_home{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 110;

}

#logo_home > img{
    width: 300px;
    height: auto;
    padding-left: 50px;
}

#titulo_home{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: auto;
    padding-left: 80px;
    font-size: 50px;
    font-weight: bolder;
    margin: 20px;
}

/* MODAL LOGIN */

#modal_login{
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0;
}

#contenedor_login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50%;
}
#contenedor_logo{
    display: flex;
    background-color: #597EBE;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

#logo_login_azul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_login_blanco > img{
    width: 300px;
}

#logo_login_azul > img {
    width: 200px;
}

#login_formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

#titulo_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    font-size: 30px;
    font-weight: 555;
}

.login_datos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 555;
}

.cajon_input{
    width: 100%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alias_login{
    width: 40%;
}

#password_login{
    width: 40%;

}

.div_boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.boton{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #597EBE;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 20px;
}

.boton:hover{
    background-color: black;
}

/* MODAL DEPORTES */

#modal_deportes{
    display: flex;
}

#deportes{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#modal_deportistas{
    display: flex;
}

#modal_anuncios{
    display: flex;
}

#contenedor_modal_deportistas{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contenedor_modal_deportes{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#contenedor_modal_anuncios{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div_insertar{
   margin: auto;
   width: 20%;
   height: 70px;
   text-align: center;
   padding: 5px;
}

.div_filtro{
    margin: auto;
    width: 20%;
    height: 70px;
    text-align: center;
    padding: 5px;
 }

.insertar{
    font-size: 30px;
}

.div_tabla{
    background-color: peachpuff;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 96%;
    font-size: 12px;

}

th,td {
  padding: 10px;
  text-align: center;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: #8b8b8b;
  }
  
tbody tr:nth-child(even) {
    background-color: #c7c7c7;
  }

/* FORMULARIOS */

#formularios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0;
}

#crear_deporte{
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

/* FOOTER */

footer{
    grid-area: zf;
    background-color: #597EBE; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

